body {
  background-image: url(bilder/sthlm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  margin: 0%;
}

header {
  font-family: "Courier New", Courier, monospace;
  padding: 8px;
  background-image: url(bilder/Header-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

h3 {
  font-size: 35px;
  text-align: center;
}
table {
  font-size: 23px;
  background-color: rgba(255, 255, 255, 0.678);
  color: rgb(0, 0, 0);
  padding: 0.5%;
  margin: 4%;
  outline-color: black;
  outline-style: groove;
  float: left;
}
